
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_adminlayout.cshtml";
}

<h1>Index</h1>
<div class="content-wrapper">
    
    <section class="content">
        burası
    </section>
 
</div>

